@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3b3b3b;
    color: #d1d5db;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #2196F3;
    border-radius: 10px;
    background-color: #1e1e1e;
    color: #fff;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    border-color: #2196F3;
  }
  
  button {
    padding: 12px 24px; 
    background-color: #2980b9;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  button:hover {
    background-color: #3498db;
    transform: scale(1.05); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); 
    animation: pulse 1s infinite; 
  }
  
  button:active {
    transform: scale(0.95); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  }
  
  .google-login, .google-signup {
    margin-top: 20px;
  }
  
  .google-button {
    background-color: #4285F4;
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .google-button:hover {
    background-color: #357ae8;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    animation: pulse 1s infinite;
  }
  
  .google-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  p {
    margin-top: 10px;
  }
  
  a {
    color: #2980b9;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  