.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #1e1e1e;
    color: #ecf0f1;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .new-chat-btn {
    background-color: #3b3b3b;
    color: #ecf0f1;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
  }
  
  .new-chat-btn:hover {
    background-color: #2980b9;
  }
  
  .chat-list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;
  }

  .chat-item-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%; /* Make the wrapper full width */
    margin-bottom: 10px; /* Add some space between items if needed */
    box-sizing: border-box;
  }
  
  .chat-item {
    padding: 10px;
    border-bottom: 1px solid #34495e;
    flex: 1;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .chat-item:hover {
    background-color: #34495e;
  }

  .edit-icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-left: 20px;
    display: flex;
    align-items: right;
  }
  
  .edit-icon-button svg {
    width: 10px;
    height: 10px;
    fill: currentColor;
  }
  
  .edit-icon-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
  }
  