.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e; 
  margin: 0; 
}

.team-section {
  max-width: 800px;
  text-align: center;
  animation: fadeIn 2s;
  background-color: #3b3b3b;
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  margin: 0 auto; 
}

.team-section h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 20px; 
}


.team-members {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
  gap: 20px; 
}


.team-member {
  width: 100%; 
  max-width: calc(50% - 10px); 
  background-color: #fff;
  padding: 20px; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
  box-sizing: border-box;
}

.team-member:hover {
  transform: scale(1.05);
}

.team-member h3 {
  color: #1e1e1e;
  margin-bottom: 10px; 
}

.team-member p {
  color: #1e1e1e; 
  margin: 0; 
}
